LN/LNMensajeria/LNMensajeria/App_WebReferences/ADMensajeria/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26745/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="InsertarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="mensaje" nillable="true" type="q1:EntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="mensaje" nillable="true" type="q2:EntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMensaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMensaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerMensajeResult" nillable="true" type="q3:EntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerMensajesPorUsuarioResult" nillable="true" type="q4:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesPorConversacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRemitente" type="xs:int" />
        <xs:element minOccurs="0" name="idDestinatario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesPorConversacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerMensajesPorConversacionResult" nillable="true" type="q5:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosLosMensajes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosLosMensajesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerTodosLosMensajesResult" nillable="true" type="q6:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesPorEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMensajesPorEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerMensajesPorEstadoResult" nillable="true" type="q7:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="historial" nillable="true" type="q8:EntidadHistorialConversacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarHistorialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="historial" nillable="true" type="q9:EntidadHistorialConversacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarHistorialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHistorialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHistorial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerHistorialResult" nillable="true" type="q10:EntidadHistorialConversacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerHistorialPorUsuarioResult" nillable="true" type="q11:ArrayOfEntidadHistorialConversacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialPorConversacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idConversacionCon" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialPorConversacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerHistorialPorConversacionResult" nillable="true" type="q12:ArrayOfEntidadHistorialConversacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>