LN/LNMensajeria/LNMensajeria/App_WebReferences/ADMensajeria/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26745/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntidadMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEnvio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDestinatario" type="xs:int" />
      <xs:element minOccurs="0" name="IdMensaje" type="xs:int" />
      <xs:element minOccurs="0" name="IdRemitente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadMensaje" nillable="true" type="tns:EntidadMensaje" />
  <xs:complexType name="ArrayOfEntidadMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadMensaje" nillable="true" type="tns:EntidadMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadMensaje" nillable="true" type="tns:ArrayOfEntidadMensaje" />
  <xs:complexType name="EntidadHistorialConversacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="ser:char" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdConversacionCon" type="xs:int" />
      <xs:element minOccurs="0" name="IdHistorial" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadHistorialConversacion" nillable="true" type="tns:EntidadHistorialConversacion" />
  <xs:complexType name="ArrayOfEntidadHistorialConversacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadHistorialConversacion" nillable="true" type="tns:EntidadHistorialConversacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadHistorialConversacion" nillable="true" type="tns:ArrayOfEntidadHistorialConversacion" />
</xs:schema>