APLICACION/Aplicacion/Aplicacion/Connected Services/MensajeriaLogica/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26605/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26605/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26605/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Recuperar_HistorialPorFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:Recuperar_HistorialPorFecha" />
  </wsdl:message>
  <wsdl:message name="IService_Recuperar_HistorialPorFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:Recuperar_HistorialPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Recuperar_HistorialPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Recuperar_HistorialPorUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_Recuperar_HistorialPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Recuperar_HistorialPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Recuperar_HistorialPorPalabras_InputMessage">
    <wsdl:part name="parameters" element="tns:Recuperar_HistorialPorPalabras" />
  </wsdl:message>
  <wsdl:message name="IService_Recuperar_HistorialPorPalabras_OutputMessage">
    <wsdl:part name="parameters" element="tns:Recuperar_HistorialPorPalabrasResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Recuperar_HistorialPorFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Recuperar_HistorialPorFecha" message="tns:IService_Recuperar_HistorialPorFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Recuperar_HistorialPorFechaResponse" message="tns:IService_Recuperar_HistorialPorFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recuperar_HistorialPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Recuperar_HistorialPorUsuario" message="tns:IService_Recuperar_HistorialPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Recuperar_HistorialPorUsuarioResponse" message="tns:IService_Recuperar_HistorialPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recuperar_HistorialPorPalabras">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Recuperar_HistorialPorPalabras" message="tns:IService_Recuperar_HistorialPorPalabras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Recuperar_HistorialPorPalabrasResponse" message="tns:IService_Recuperar_HistorialPorPalabras_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Recuperar_HistorialPorFecha">
      <soap:operation soapAction="http://tempuri.org/IService/Recuperar_HistorialPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recuperar_HistorialPorUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/Recuperar_HistorialPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recuperar_HistorialPorPalabras">
      <soap:operation soapAction="http://tempuri.org/IService/Recuperar_HistorialPorPalabras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:26605/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>