APLICACION/Aplicacion/Aplicacion/Connected Services/MensajeriaLogica/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntidadMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadMensaje" nillable="true" type="tns:EntidadMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadMensaje" nillable="true" type="tns:ArrayOfEntidadMensaje" />
  <xs:complexType name="EntidadMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEnvio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDestinatario" type="xs:int" />
      <xs:element minOccurs="0" name="IdMensaje" type="xs:int" />
      <xs:element minOccurs="0" name="IdRemitente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadMensaje" nillable="true" type="tns:EntidadMensaje" />
</xs:schema>