APLICACION/Aplicacion/Aplicacion/Connected Services/MensajeriaLN/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26605/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Recuperar_HistorialPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recuperar_HistorialPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Recuperar_HistorialPorFechaResult" nillable="true" type="q1:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recuperar_HistorialPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recuperar_HistorialPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Recuperar_HistorialPorUsuarioResult" nillable="true" type="q2:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recuperar_HistorialPorPalabras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recuperar_HistorialPorPalabrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Recuperar_HistorialPorPalabrasResult" nillable="true" type="q3:ArrayOfEntidadMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>